/* Preloader */
.preloader {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  background-color: hsl(210, 36%, 96%);
}

.hide-preloader {
  display: none;
}

.preloader h1 {
  font-size: 3.5rem;
  text-transform: capitalize;
  letter-spacing: 3px;
  color: hsl(209, 23%, 25%);
}

@media screen and (max-width: 600px) {
  .preloader h1 {
    font-size: 2.5rem;
  }
}
/* End of PreLoader */

/* Main Content(Used for PreLoader) */
.main {
  display: none;
}

.show-main {
  display: block;
}

.hero-section {
  padding: 3rem 0;
  gap: 3rem;
  display: grid;
}

/* Filters Container Section */
.filters-container {
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-self: start;
  align-items: flex-start;
}

@media screen and (min-width: 750px) {
  .hero-section {
    width: 95%;
    margin: 0 auto;
    gap: 1.5rem;
    grid-template-columns: 120px 1fr;
  }

  .filters-container {
    position: sticky;
    top: 1rem;
    row-gap: 2.5rem;
  }
}

#search-input {
  text-transform: capitalize;
  font-size: 0.8rem;
  padding: 0.6rem 0.5rem;
  letter-spacing: 2px;
  border: none;
  background-color: hsl(210, 36%, 96%);
  color: hsl(210, 22%, 49%);
  border-radius: 0.5rem;
}

.filter-section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-transform: capitalize;
  color: hsl(210, 22%, 49%);
}

.section-header {
  color: hsl(209, 23%, 25%);
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.company-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.single-company-name {
  list-style-type: none;
}

.single-company-name button:hover {
  color: #22374b;
  cursor: pointer;
}

.single-company-name button {
  background-color: transparent;
  border: transparent;
  text-transform: capitalize;
  color: hsl(210, 22%, 49%);
  letter-spacing: 1px;
}

#range-input:hover {
  cursor: pointer;
}

.price {
  letter-spacing: 2px;
  font-weight: lighter;
}
/* End of Filters Section */

/* Products Section Container */
.products-container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.products-container h1 {
  text-transform: capitalize;
  text-align: center;
  font-size: 2rem;
  margin-top: 5rem;
  letter-spacing: 1px;
  color: hsl(209, 23%, 25%);
}

/* Single Product */
.single-product {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center;
  position: relative;
}

.product-image {
  height: 12rem;
  width: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
}

.product-title {
  color: #868686;
  font-size: 1rem;
  font-weight: lighter;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.product-price {
  color: #22374b;
  font-size: 1rem;
  letter-spacing: 2px;
}

.product-options {
  height: 12rem;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
  opacity: 0;
  transition: all 0.3s linear;
  border-radius: 0.5rem;
}

.product-details,
.product-addtocart {
  border: transparent;
  background-color: hsl(21, 62%, 45%);
  border-radius: 60%;
  color: #fff;
  font-size: 1.2rem;
  padding: 0.6rem 0.6rem;
  cursor: pointer;
  transition: all 0.2s linear;
}
.product-details:hover,
.product-addtocart:hover {
  background-color: hsl(21, 54%, 54%);
}

.product-options:hover {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
}
/* End of Products Section */
